<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.mall.mapper.OrderMapper">

    <resultMap id="result" type="com.boss.mall.entity.Order">
        <result property="userid" column="userid" />
        <result property="orderid" column="orderid"/>
    </resultMap>

    <insert id="addOrder" parameterType="com.boss.mall.entity.Order"
            keyProperty="orderid" useGeneratedKeys="true">
        INSERT INTO mall.order(userid)
        VALUES (#{userid})
    </insert>

    <select id="listOrder" resultMap="result">
        SELECT * FROM mall.order
    </select>

</mapper>